<div id="hero" class="hero route bg-image"
  style="background-image: url(https://i.pinimg.com/originals/f7/bc/10/f7bc1016a0a37843aa8fb14aab5f356f.jpg)">
  <div class="overlay-itro"></div>
  <div class="hero-content display-table">
    <div class="table-cell">
      <div class="container">
        <!--<p class="display-6 color-d">Hello, world!</p>-->
        <h1 class="hero-title mb-4"><b>Welcome</b>,This is my portfolio</h1>
        <h2>I AM NAVEEN</h2>
        <p class="hero-subtitle">
          <span class="typed" data-typed-items="Designer, Developer, Freelancer, Photographer"></span>
        </p>
        <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
      </div>
    </div>
  </div>
</div>

